* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'SF Pro Display', sans-serif;
    letter-spacing: 1px;

    -ms-overflow-style: none;
}

* ::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
    border: thick solid white;
}


