$spacer: 1rem;

// MARGIN -------------------------

// TOP
.mt-auto {
    margin-top: auto;
}
.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: ($spacer*0.25);
}
.mt-2 {
    margin-top: ($spacer*0.5);
}
.mt-3 {
    margin-top: ($spacer*1);
}
.mt-4 {
    margin-top: ($spacer*1.5);
}
.mt-5 {
    margin-top: ($spacer*3);
}

// RIGHT
.mr-auto {
    margin-right: auto;
}
.mr-0 {
    margin-right: 0;
}
.mr-1 {
    margin-right: ($spacer*0.25);
}
.mr-2 {
    margin-right: ($spacer*0.5);
}
.mr-3 {
    margin-right: ($spacer*1);
}
.mr-4 {
    margin-right: ($spacer*1.5);
}
.mr-5 {
    margin-right: ($spacer*3);
}

// BOTTOM
.mb-0 {
    margin-bottom: 0;
}
.mb-auto {
    margin-bottom: auto;
}
.mb-1 {
    margin-bottom: ($spacer*0.25);
}
.mb-2 {
    margin-bottom: ($spacer*0.5);
}
.mb-3 {
    margin-bottom: ($spacer*1);
}
.mb-4 {
    margin-bottom: ($spacer*1.5);
}
.mb-5 {
    margin-bottom: ($spacer*3);
}

// LEFT
.ml-auto {
    margin-left: auto;
}
.ml-0 {
    margin-left: 0;
}
.ml-1 {
    margin-left: ($spacer*0.25);
}
.ml-2 {
    margin-left: ($spacer*0.5);
}
.ml-3 {
    margin-left: ($spacer*1);
}
.ml-4 {
    margin-left: ($spacer*1.5);
}
.ml-5 {
    margin-left: ($spacer*3);
}

// RIGHT AND LEFT
.mx-auto {
    margin-right: auto;
    margin-left: auto;
}
.mx-0 {
    margin-right: 0;
    margin-left: 0;
}
.mx-1 {
    margin-right: ($spacer*0.25);
    margin-left: ($spacer*0.25);
}
.mx-2 {
    margin-right: ($spacer*0.5);
    margin-left: ($spacer*0.5);
}
.mx-3 {
    margin-right: ($spacer*1);
    margin-left: ($spacer*1);
}
.mx-4 {
    margin-right: ($spacer*1.5);
    margin-left: ($spacer*1.5);
}
.mx-5 {
    margin-right: ($spacer*3);
    margin-left: ($spacer*3);
}

// TOP AND BOTTOM
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}
.my-1 {
    margin-top: ($spacer*0.25);
    margin-bottom: ($spacer*0.25);
}
.my-2 {
    margin-top: ($spacer*0.5);
    margin-bottom: ($spacer*0.5);
}
.my-3 {
    margin-top: ($spacer*1);
    margin-bottom: ($spacer*1);
}
.my-4 {
    margin-top: ($spacer*1.5);
    margin-bottom: ($spacer*1.5);
}
.my-5 {
    margin-top: ($spacer*3);
    margin-bottom: ($spacer*3);
}

// ALL SIDES
.m-auto {
    margin: auto;
}
.m-0 {
    margin: 0;
}
.m-1 {
    margin: ($spacer*0.25);
}
.m-2 {
    margin: ($spacer*0.5);
}
.m-3 {
    margin: ($spacer*1);
}
.m-4 {
    margin: ($spacer*1.5);
}
.m-5 {
    margin: ($spacer*3);
}

// PADDING -------------------------

// TOP
.pt-auto {
    padding-top: auto;
}
.pt-0 {
    padding-top: 0;
}
.pt-1 {
    padding-top: ($spacer*0.25);
}
.pt-2 {
    padding-top: ($spacer*0.5);
}
.pt-3 {
    padding-top: ($spacer*1);
}
.pt-4 {
    padding-top: ($spacer*1.5);
}
.pt-5 {
    padding-top: ($spacer*3);
}

// RIGHT
.pr-auto {
    padding-right: auto;
}
.pr-0 {
    padding-right: 0;
}
.pr-1 {
    padding-right: ($spacer*0.25);
}
.pr-2 {
    padding-right: ($spacer*0.5);
}
.pr-3 {
    padding-right: ($spacer*1);
}
.pr-4 {
    padding-right: ($spacer*1.5);
}
.pr-5 {
    padding-right: ($spacer*3);
}

// BOTTOM
.pb-auto {
    padding-bottom: auto;
}
.pb-0 {
    padding-bottom: 0;
}
.pb-1 {
    padding-bottom: ($spacer*0.25);
}
.pb-2 {
    padding-bottom: ($spacer*0.5);
}
.pb-3 {
    padding-bottom: ($spacer*1);
}
.pb-4 {
    padding-bottom: ($spacer*1.5);
}
.pb-5 {
    padding-bottom: ($spacer*3);
}

// LEFT
.pl-auto {
    padding-left: auto;
}
.pl-0 {
    padding-left: 0;
}
.pl-1 {
    padding-left: ($spacer*0.25);
}
.pl-2 {
    padding-left: ($spacer*0.5);
}
.pl-3 {
    padding-left: ($spacer*1);
}
.pl-4 {
    padding-left: ($spacer*1.5);
}
.pl-5 {
    padding-left: ($spacer*3);
}

// RIGHT AND LEFT
.px-auto {
    padding-right: auto;
    padding-left: auto;
}
.px-0 {
    padding-right: 0;
    padding-left: 0;
}
.px-1 {
    padding-right: ($spacer*0.25);
    padding-left: ($spacer*0.25);
}
.px-2 {
    padding-right: ($spacer*0.5);
    padding-left: ($spacer*0.5);
}
.px-3 {
    padding-right: ($spacer*1);
    padding-left: ($spacer*1);
}
.px-4 {
    padding-right: ($spacer*1.5);
    padding-left: ($spacer*1.5);
}
.px-5 {
    padding-right: ($spacer*3);
    padding-left: ($spacer*3);
}
.px-s7 {
    padding-right: ($spacer*7);
    padding-left: ($spacer*7);
}

// TOP AND BOTTOM
.py-auto {
    padding-top: auto;
    padding-bottom: auto;
}
.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}
.py-1 {
    padding-top: ($spacer*0.25);
    padding-bottom: ($spacer*0.25);
}
.py-2 {
    padding-top: ($spacer*0.5);
    padding-bottom: ($spacer*0.5);
}
.py-3 {
    padding-top: ($spacer*1);
    padding-bottom: ($spacer*1);
}
.py-4 {
    padding-top: ($spacer*1.5);
    padding-bottom: ($spacer*1.5);
}
.py-5 {
    padding-top: ($spacer*3);
    padding-bottom: ($spacer*3);
}

// ALL SIDES
.p-auto {
    padding: auto;
}
.p-0 {
    padding: 0;
}
.p-1 {
    padding: ($spacer*0.25);
}
.p-2 {
    padding: ($spacer*0.5);
}
.p-3 {
    padding: ($spacer*1);
}
.p-4 {
    padding: ($spacer*1.5);
}
.p-5 {
    padding: ($spacer*3);
}

// BODY OFFSET FROM NAVIGATION

.body {
    margin-bottom: 100px;
}
  