* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'SF Pro Display', sans-serif;
    letter-spacing: 1px;
    /* border: 1px solid red; */
}

* ::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
}

/* ZAČIATOK LAYOUT */

.gray {
    /* border: 5px solid red; */
    background-color: #DEDBDE;
}

a {
    text-decoration: none;
}

/* KONIEC LAYOUT */

/* ZAČIATOK VŠEOBECNÉ */

h1 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    line-height: 1.5;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container {
    width: 100%;

    margin-left: auto;
    margin-right: auto;
}

.flex-equal {
    flex: 1 1 0px;
    width: 0;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.h-center {
    justify-content: center;
}

.h-end {
    justify-content: flex-end;
}

.v-center {
    /* align-content: center; */
    align-items: center;
}

.v-end {
    align-items: flex-end;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-white {
    color: #FFFFFF;
}

.text-gray {
    color: #566b8d;
}

.fs-7 {
    font-size: 0.875rem;
}

.fw-light {
    font-weight: 300;
}

.fw-bold {
    font-weight: 700;
}

.lh-1 {
    line-height: 1;
}

/* KONIEC VŠEOBECNÉ */

.navbar {
    display: flex;
    justify-content: center;

    height: 80px;

    background-color: #FFFFFF;
}

.navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0px;
}

.side-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 3.5rem;
    margin-right: 9.5rem;
}

.navbar-item {
    margin: 0 20px;
    list-style: none;
}

.navbar-item a {
    color: #1a232f !important;
    font-size: 14px;
    font-weight: 500;
}

.navbar-item a:hover {
    color: #3597FF !important;
}

.join-us-btn {
    background-color: #3597FF;
    padding: 15px 20px;
    border-radius: 5px;
    border: 0px;
}

.join-us-btn a {
    color: #fff;
}

.mainVisual {
    background-color: #3597FF;
}

.mainVisual-text-container {
    padding-right: 8rem;
}

.mainVisual-image-container {
    max-width: 50%;
}

.mainVisual-image-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.vision-text-container {
    max-width: 50%;
}

/* .vision>div:nth-child(2) {
    margin-left: auto;
} */

.vision .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.vision-items {
    margin-left: auto;
}

.vision-item {
    width: 233px;
    border-radius: 4px;
}

.vision-item:nth-child(1) {
    color: #5b94d7;
    background-color: rgba(221, 236, 251, 0.4);
}

.vision-item:nth-child(2) {
    color: #5cc19a;
    background-color: rgba(156, 238, 204, 0.4);
}

.vision-item:nth-child(3) {
    color: #dbca68;
    background-color: rgba(238, 226, 156, 0.4);
}

.vision-item:nth-child(4) {
    color: #b95e73;
    background-color: rgba(238, 156, 156, 0.4);
}

.vision-item p:nth-child(1) {
    font-size: 90px;
}

.vision-item p:nth-child(2) {
    font-size: 18px;
}




/* .bg-blue {
    background-color: #3597FF;
}

*/

/* .navbar div {
    display: flex;
    align-items: center;

    background-color: red;
}

.navbar div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
} */

/* .navbar div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
} */

.hidden {
    display: none !important;
}

