* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'SF Pro Display', sans-serif;
    letter-spacing: 1px;
    /* border: 1px solid red; */
}

* ::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
}

/* ZAČIATOK LAYOUT */

.gray {
    /* border: 5px solid red; */
    background-color: #DEDBDE;
}

a {
    text-decoration: none;
}

/* KONIEC LAYOUT */

/* ZAČIATOK VŠEOBECNÉ */

h1 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    line-height: 1.5;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container {
    width: 100%;

    margin-left: auto;
    margin-right: auto;
}

.flex-equal {
    flex: 1 1 0px;
    width: 0;
}

.flex {
    display: flex;
}

.h-center {
    justify-content: center;
}

.v-center {
    /* align-content: center; */
    align-items: center;
}

.v-end {
    align-items: flex-end;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-white {
    color: #FFFFFF;
}

.text-gray {
    color: #566b8d;
}

.fs-7 {
    font-size: 0.875rem;
}

.fw-light {
    font-weight: 300;
}

.fw-bold {
    font-weight: 700;
}

/* KONIEC VŠEOBECNÉ */

.navbar {
    display: flex;
    justify-content: center;

    height: 80px;

    background-color: #FFFFFF;
}

.navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0px;
}

.side-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 3.5rem;
    margin-right: 9.5rem;
}

.navbar-item {
    margin: 0 20px;
    list-style: none;
}

.navbar-item a {
    color: #1a232f !important;
    font-size: 14px;
    font-weight: 500;
}

.navbar-item a:hover {
    color: #3597FF !important;
}

.join-us-btn {
    background-color: #3597FF;
    padding: 15px 20px;
    border-radius: 5px;
    border: 0px;
}

.join-us-btn a {
    color: #fff;
}

.mainVisual {
    background-color: #3597FF;
}

.mainVisual-text-container {
    padding-right: 8rem;
}

.mainVisual-image-container {
    max-width: 50%;
}

.mainVisual-image-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

/* .bg-blue {
    background-color: #3597FF;
}

*/

/* .navbar div {
    display: flex;
    align-items: center;

    background-color: red;
}

.navbar div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
} */

/* .navbar div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
} */

.hidden {
    display: none !important;
}

