* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'SF Pro Display', sans-serif;
    letter-spacing: 1px;

    -ms-overflow-style: none;

    /* border: 1px solid red; */
}

* ::-webkit-scrollbar {
    display: none;
}

/* ZAČIATOK LAYOUT */

.gray {
    /* border: 5px solid red; */
    background-color: #DEDBDE;
}

a {
    text-decoration: none;
}

/* KONIEC LAYOUT */

/* ZAČIATOK VŠEOBECNÉ */

h1 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    line-height: 1.5;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.container {
    width: 100%;

    margin-left: auto;
    margin-right: auto;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex-equal {
    flex: 1 1 0px;
    width: 0;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.hidden {
    display: none !important;
}

.h-center {
    justify-content: center;
}

.h-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.v-center {
    /* align-content: center; */
    align-items: center;
}

.v-end {
    align-items: flex-end;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-primary {
    color: #3597ff;
}

.text-white {
    color: #FFFFFF;
}

.text-gray {
    color: #566b8d;
}

.fs-6 {
    font-size: 1.125rem;
}

.fs-7 {
    font-size: 0.875rem;
}

.fw-light {
    font-weight: 300;
}

.fw-medium {
    font-weight: 500;
}

.fw-bold {
    font-weight: 700;
}

.lh-1 {
    line-height: 1;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

/* KONIEC VŠEOBECNÉ */

header div {
    height: 50px;
    font-size: 13px;
    border-bottom: 1px solid #dee2e6;
}

header div a {
    padding: 6px 10px;

    font-size: 12px;

    color: #989ca2;
    background-color: #989ca226;

    border: 1px solid #989ca226;
    border-radius: 100px;
}

.navbar {
    display: flex;
    justify-content: center;

    height: 80px;

    background-color: #FFFFFF;
}

.navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0px;
}

.side-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 3.5rem;
    margin-right: 9.5rem;
}

.navbar-item {
    margin: 0 20px;
    list-style: none;
}

.navbar-item a {
    color: #1a232f !important;
    font-size: 14px;
    font-weight: 500;
}

.navbar-item a:hover {
    color: #3597FF !important;
}

.join-us-btn {
    background-color: #3597FF;
    padding: 15px 20px;
    border-radius: 5px;
    border: 0px;
}

.join-us-btn a {
    color: #fff;
}

.mainVisual {
    background-color: #3597FF;
}

.mainVisual-text-container {
    padding-right: 8rem;
}

.mainVisual-image-container {
    max-width: 50%;
}

.mainVisual-image-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.mainVisual .letter {
    right: -241px;
    bottom: 70px;
    /* width: 200px; */
}

.mainVisual .letter img {
    width: 482px;
}

.vision-text-container {
    max-width: 50%;
}

/* .vision>div:nth-child(2) {
    margin-left: auto;
} */

.vision .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.vision-items {
    margin-left: auto;
}

.vision-item {
    width: 233px;
    border-radius: 4px;
}

.vision-item:nth-child(1) {
    color: #5b94d7;
    background-color: #ddecfb66;
}

.vision-item:nth-child(2) {
    color: #5cc19a;
    background-color: #9ceecc66;
}

.vision-item:nth-child(3) {
    color: #dbca68;
    background-color: #eee29c66;
}

.vision-item:nth-child(4) {
    color: #b95e73;
    background-color: #ee9c9c66;
}

.vision-item p:nth-child(1) {
    font-size: 90px;
}

.vision-item p:nth-child(2) {
    font-size: 18px;
}

.labs-cards-container {
    max-width: 66.666%;
}

.labs-card {
    position: relative;
    flex-basis: 100%;
}

.labs-card:hover {
    border-radius: 6px;
    transition: 0.3s;
    box-shadow: 0px 1px 20px #63769526;
    cursor: pointer;
}

.labs-card img {
    bottom: 30px;
}

.labs-card img:last-of-type {
    display: none;
}

.labs-card:hover img:first-of-type {
    display: none;
}

.labs-card:hover img:last-of-type {
    display: block;
}

.school-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.notice img {
    height: 15px;
}

.notice p {
    font-weight: 500;
    color: red;
}

.notice-text-container {
    display: none;
    position: absolute;

    width: 600px;

    margin-bottom: 50px;
    padding: 15px;
    top: -10px;

    font-size: 14px;
    
    transform: translateY(-100%);

    background: white;

    border: 1px #00000033 solid;
    border-radius: 8px;
}

.notice:hover + .notice-text-container {
    display: block;
}

.schools .letter {
    right: -218px;
    bottom: -280px;
}

.schools .letter img {
    width: 436px;
}

.students-thoughts {
    background-color: #f3f9ff;
}

.students-thoughts-img-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.quote-container {
    position: relative;
}

.quote {
    position: absolute;
    top: -30px;
    left: -15px;
}

.students-thoughts-nav-buttons {
    position: absolute;
    float: right;
    right: 0;
    bottom: 50px;
}

.students-thoughts button {
    width: 33px;
    height: 33px;

    border: 0px;

    cursor: pointer;
}

.students-thoughts button:first-of-type {
    /* background-image: url(../images/arrow-slide-left.svg); */
    background: url(../images/arrow-slide-left.svg) no-repeat center center;
    /* background-size: cover; */
    transition: 0.3s ease-in-out;
}

.students-thoughts button:hover {
    background: url(../images/arrow-slide-left-active.svg) no-repeat center center;
}

.students-thoughts button:last-of-type {
    /* background-image: url(../images/arrow-slide-right.svg); */
    background: url(../images/arrow-slide-right.svg) no-repeat center center;
    transition: 0.3s ease-in-out;
    /* background-size: cover; */
}

.students-thoughts button:last-of-type:hover {
    /* background-image: url(../images/arrow-slide-right.svg); */
    background: url(../images/arrow-slide-right-active.svg) no-repeat center center;
    /* background-size: cover; */
}

.join-us-card {
    position: relative;
}

.join-us-card img {
    position: absolute;
    bottom: 30px;
}

.join-us-card:hover {
    border-radius: 6px;
    transition: 0.3s;
    box-shadow: 0px 1px 20px #63769526;
    cursor: pointer;
}
 
.join-us-card:hover img:first-of-type {
    display: none;
}

.join-us-card img:last-of-type {
    display: none;
}

.join-us-card:hover img:last-of-type {
    display: block;
}

.students-projects>div.container {
    border-bottom: 1px solid #d7eaff;
}

.students-projects h4 {
    position: relative;
}

.students-projects h4::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -25px;
    width: 50px;
    height: 1px;
    background-color: #566b8d80;
}

.students-projects-project-text-container {
    max-width: 33%;
} 

.students-projects-project-text-container>h2 {
    font-size: 1.75rem;
}

.students-projects-img-container {
    max-width: 50%;
}

.students-projects-play-img-container a {
    display: block;
}

.students-projects-img-container img:not(.absolute) {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;

    border-radius: 20px;
}

.students-projects-play-img-container img.absolute {
    left: 50%;
    margin-left: -33px;
    top: 50%;
    margin-top: -99px;
}

.students-projects-nav-buttons button {
    width: 33px;
    height: 33px;

    border: 0px;

    cursor: pointer;
}

.students-projects-nav-buttons button:first-of-type {
    /* background-image: url(../images/arrow-slide-left.svg); */
    background: url(../images/arrow-slide-left.svg) no-repeat center center;
    /* background-size: cover; */
    transition: 0.3s ease-in-out;
}

.students-projects-nav-buttons button:hover {
    background: url(../images/arrow-slide-left-active.svg) no-repeat center center;
}

.students-projects-nav-buttons button:last-of-type {
    /* background-image: url(../images/arrow-slide-right.svg); */
    background: url(../images/arrow-slide-right.svg) no-repeat center center;
    transition: 0.3s ease-in-out;
    /* background-size: cover; */
}

.students-projects-nav-buttons button:last-of-type:hover {
    /* background-image: url(../images/arrow-slide-right.svg); */
    background: url(../images/arrow-slide-right-active.svg) no-repeat center center;
    /* background-size: cover; */
}

.slide-circle-button {
    height: 9px;
    width: 9px;
    
    background: none;
    background-color: #3597ff33;

    border-radius: 50%;
    border: none;

    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.slide-circle-button:hover {
    background-color: #3597ff;
}

.slide-circle-button:active {
    background-color: #3597ff;
}

/* TODO: Odstráň tento štýl. Je to len na testovanie, resp. na preview. */
.slide-circle-button:first-of-type {
    background-color: #3597ff;
}

.special>div.container {
    border-bottom: 1px solid #d7eaff;
}

.special .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 7em;
    margin-right: 7em;
}

.special .grid>div {
    padding-top: 3em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.know-us .flex {
    flex-wrap: wrap;
}

.know-us .flex>div {
    flex: 0 0 auto;
    width: 25%;
}

.know-us-img-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;

    border-radius: 3px;
}

.support-us .flex div {
    max-width: 50%;
}

.support-us-img-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.support-us h1 {
    font-size: 2rem;
}

.who-behind-title {
    width: 33.33333%;
}

.who-behind-imgs {
    width: 66.66666%;
}

.instagram-feed {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
}

.instagram-feed .flex {
    flex-wrap: nowrap;
}

.instagram-feed-item div {
    display: none;
}

.instagram-feed-item a:hover ~ div {
    display: block;
}

.instagram-feed-item a:hover {
    filter: brightness(50%);
    cursor: pointer;
}

.instagram-feed img {
    max-width: 100%;
    height: auto;
}

.instagram-feed-item div.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.instagram-feed-item div.relative p {
    position: absolute;
    color: white;
    bottom: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
}

.instagram-feed-item div.relative img {
    position: absolute;
    bottom: 0.3rem;
    right: 1%;
    fill: #FFFFFF; /* TODO: Vyriešiť, prečo sa mi nemení farba. */
}

.instagram-feed-item div.relative div {
    cursor: pointer;
}

.instagram-feed-item a {
    width: 100%;
    height: 100%;
}

.modern-school div.container>div.flex>div:last-of-type {
    margin-left: 8.3333%;
}

.modern-school img {
    width: 100%;
    height: auto;
}

.modern-school-button {
    display: inline-block;
    padding: 18px 50px;

    color: white;
    background-color: #3597ff;

    border-radius: 6px;
}